{% extends 'base.html' %}

{% block content %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<script>
    function randomFill() {
        var nameTextBox = document.getElementById('name');
        var personalityTextBox = document.getElementById('personality');
        var animalTextBox = document.getElementById('animal');
        var animal_featureTextBox = document.getElementById('animal_feature');


        var names = ['영수', '민수', '영희', '철수'];
        var personalities = ['착함', '노래를 잘함', '잘 웃음', '운동을 잘함'];
        var animals = ['돼지', '고양이', '개', '원숭이'];
        var animal_features = ['착함', '노래를 잘함', '잘 웃음', '운동을 잘함'];
        
        var randomNameIndex = Math.floor(Math.random() * names.length);
        var randomPersonalityIndex = Math.floor(Math.random() * personalities.length);
        var randomAnimalIndex = Math.floor(Math.random() * animals.length);
        var randomAnimal_featureIndex = Math.floor(Math.random() * animal_features.length);

        var randomName = names[randomNameIndex];
        var randomPersonality = personalities[randomPersonalityIndex];
        var randomAnimal = animals[randomAnimalIndex];
        var randomAnimal_feature = animal_features[randomAnimal_featureIndex];

        nameTextBox.value = randomName;
        personalityTextBox.value = randomPersonality;
        animalTextBox.value = randomAnimal;
        animal_featureTextBox.value = randomAnimal_feature;
    }
</script>

{% endblock %}
<!-- action은 이동할 페이지 -->
<div> 키워드를 입력하세요.</div>
<button onclick="randomFill()">랜덤 채우기</button>
<form action="result" method="post" autocomplete="off">
{% csrf_token %}
  
    <div>
        <label for="name">주인공 이름 :</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="personality">주인공 특징 :</label>
        <input type="text" id="personality" name="personality">
    </div>
    <div>
        <label for="animal">동화에 나올 동물 :</label>
        <input type="text" id="animal" name="animal">
    </div>
    <div>
        <label for="animal_feature">동물의 특징 :</label>
        <input type="text" id="animal_feature" name="animal_feature">
    </div>
    

    <input type="submit" value="동화 생성하기">
</form>
{% endblock %}

