{% extends 'base.html' %}

{% block content %}

{% load static %}

<script>
    function randomFill() {
        var nameTextBox = document.getElementById('name');
        var personalityTextBox = document.getElementById('personality');
        var animalTextBox = document.getElementById('animal');
        var animal_featureTextBox = document.getElementById('animal_feature');

        var names = ['영수', '민수', '영희', '철수'];
        var personalities = ['용감한 사자', '노래를 잘하는 공주', '잘 웃는 거북이', '말을 잘하는 인형'];
        var animals = ['숲', '바다', '마을', '책상'];
        var animal_features = ['사자가 많은 동물들을 만나는 이야기', '공주와 왕자가 만나는 이야기', '거북이가 여행하는 이야기', '책상을 탈출하려는 인형'];
        
        var randomNameIndex = Math.floor(Math.random() * names.length);
        var randomPersonalityIndex = Math.floor(Math.random() * personalities.length);
        var randomAnimalIndex = Math.floor(Math.random() * animals.length);
        var randomAnimal_featureIndex = Math.floor(Math.random() * animal_features.length);

        var randomName = names[randomNameIndex];
        var randomPersonality = personalities[randomPersonalityIndex];
        var randomAnimal = animals[randomAnimalIndex];
        var randomAnimal_feature = animal_features[randomAnimal_featureIndex];

        nameTextBox.value = randomName;
        personalityTextBox.value = randomPersonality;
        animalTextBox.value = randomAnimal;
        animal_featureTextBox.value = randomAnimal_feature;
    }
</script>
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}
<!-- action은 이동할 페이지 -->
<div> 키워드를 입력하세요.</div>
<button onclick="randomFill()">랜덤 채우기</button>

<form action="result" method="post" autocomplete="off">
    {% csrf_token %}
    <div>
        <label for="name">주인공의 이름은 뭐야?</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="personality">주인공에 대해서 설명해줘</label>
        <input type="text" id="personality" name="personality">
    </div>
    <div>
        <label for="animal">배경은 어디야?</label>
        <input type="text" id="animal" name="animal">
    </div>
    <div>
        <label for="animal_feature">어떤 내용으로 동화를 만들어줄까?</label>
        <input type="text" id="animal_feature" name="animal_feature">
    </div>
    
    <input type="submit" value="동화 생성하기">
</form>
{% endblock %}
