<form action = {% url 'Page:createuser' %} method = "POST" onsubmit="return validPW()" >
    <fieldset>
        {% csrf_token %}
        <label>아이디:<input type="text" name="user-name" size="12" value = {{ name }}></label>
        <label>비밀번호:<input type="password" name="user-pw" size="12" ></label>
        <label>비밀번호 확인:<input type="password" name="user-pw-check" size="12" ></label>
        <input type="submit" value="가입">
    </fieldset>
</form>

<script>
    function validPW(){
        var password = document.getElementsByName('user-pw')[0].value;
        var passwordCheck = document.getElementsByName('user-pw-check')[0].value;

        if (password !== passwordCheck) {
            alert('비밀번호가 일치하지 않습니다.');
            return false; // 폼 제출 중지
        }
        return true;
    }

    // ID 중복 시 경고창
    {% if messages %}
        {% for message in messages %}
        alert("{{ message }}")
        {% endfor %}
    {% endif %}
</script>