* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SUITE-Regular', sans-serif;
    /* border기준으로
    개발자가 생각한 사이즈와
    실제로 출력된 사이즈가
    같기 때문에 개발환경이
    편해진다. */
  }
  .body{
    min-height: 100vh;
    margin-top: 80px;
    /* padding-bottom : 100px; */
    position : relative;
    
    background-color: #FFFAEA;
    
    
    
  }

  .inputback{
    background-image: url('./html/static_image/동화 페이지 뒷배경.png');
    background-size: cover;
    background-position: center;

    display: grid;
    place-items: center;
  }

  .openbook{

    
    background-image: url('C:\Users\User\Desktop\bigp\Fairytale\myreact\src\html\static_image\책.png');
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;

    min-width: 80%;
    min-height: 80%;

    

    display: flex;
    justify-content: center;
    align-items: center;

  }

  .bookleft{
    display: grid;
    place-items: top;
    height: 80vh;
    position: relative;
    left:-70px;

    
    
  }
  
  .bookright{
    display: grid;
    place-items: center;
    height: 80vh;
    position: relative;
    right : -80px;
  
  }

  .imageinputbt {
    place-items: center;
    
    
  }

  .imageinputbox{
    margin-top: 15vh;
    width : 300px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 2px dotted gray;
  }

  input[type="file"] {
    display: none;
    
  }

  .postbtn {
    display: none;
  }

  .upload {
    background-color: gray;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 5px 5px 15px 0.5px rgba(0, 0, 0, 0.2);
    color : white
  }

  .uploaded {
    color: gray;
    position: relative;
    bottom : -10px;
    right: -5px;
    
  }

  .ex{
    
    bottom : -200px;
    right: -50px;

  }

  .warn {
    color:red;
    font-size:10;
    position : relative;

    right : -10px;
    bottom : -100px;

  }


  .genbtn {
    background-color: #FFA500;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 5px 5px 15px 0.5px rgba(0, 0, 0, 0.2);
    color : black;
    font-weight: bold;
    font-size: 20px;
  }

  .selectedimg {
    position: relative;
    bottom : -50px;
    
  }

  